@page
@model ClubManagement.Pages.ClubPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Logo of Club
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Club.LogoImageUrl" style="width:90px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.ClubName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.Purpose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.Status)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Club?.ClubId">Edit</a> |
    <a asp-page="/ClubBoardPage/Index" asp-route-id="@Model.Club?.ClubId">Manage ClubBoard</a> |
    <a asp-page="/MemberPage/Index" asp-route-id="@Model.Club?.ClubId">Manage Member </a> |
    <a asp-page="./Index">Back to List</a>
</div>
