@page
@model ClubManagement.Pages.MemberPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.CardMemberUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Membership.CardMemberUrl" style="width:90px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.JoinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.JoinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Status)
        </dd>
        <dt class="col-sm-2">
            Member Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership!.Student!.StudentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Membership?.MembershipId">Edit</a> |
    <a asp-page="./Index" asp-route-id="@Model.Membership?.Club?.ClubId">Back to List</a>
</div>
